@import '~antd/dist/antd.css';
.login-header {
  text-align: center;
  margin-top: -2rem;
  /* font-family: 'fangsong'; */
}

.login-form {
  max-width: 500px;
  /* top: 4rem;*/
  height: 550px;
  font-family: 'fangsong';
  background-color: #fff;
  padding: 50px;
  position: absolute;
  overflow: hidden;
  right: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 4px #d9d9d969;
}
.login-form-forgot {
  float: center;
}
.ant-col-rtl .login-form-forgot {
  float: center;
}
.login-form-button {
  width: 100%;
}

a {
  color: #27a8a8;
}
a:hover {
  color: #27a8a8;
}

body {
  background: #887cb5;
}
