.site-layout-content {

  min-height: 450px;
  padding: 24px;
  background: #fff;
  min-height: 450px;
  padding: 24px;
  background: #fff;
  }

  element.style {
    width: 80vw;
    height: 120vh;
    padding: 24px;
    background: darkgray;
}

  .components-layout-demo-top .logo {
    float: left;
    width: 1200px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  .ant-avatar {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 64px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background:transparent;
    width: 64px;
    height: 64px;
    line-height: 32px;
    border-radius: 50%;

}
.components-layout-demo-top .logo {
  float: left;
  width: 1200px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.ant-avatar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 64px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', 'tnum';
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: transparent;
  width: 64px;
  height: 64px;
  line-height: 32px;
  border-radius: 50%;
}

#im1 {
  background-image: 'src\Assets\wound.jpg';
}
.PageTitle {
  font-family: 'Lucida Sans Regular', sans-serif;
}
.SurveysTitle {
  text-align: center;
  font-family: 'Lucida Sans Regular', sans-serif;
  font-size: 150%;
  font-weight: bold;
}
.welcometext {
  padding-top: 0.5%;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-align: left;
}
