@import '~antd/dist/antd.css';
.login-header {
  text-align: center;
  margin-top: -2rem;
  /* font-family: 'fangsong'; */
}

.SignUp-form {
  max-width: 500px;
  font-family: 'fangsong';
  background-color: #fff;
  padding: 50px;
  right: 5px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 4px #d9d9d969;
}

.SignUp-form-button {
  width: 100%;
}

a {
  color: #27a8a8;
}
a:hover {
  color: #27a8a8;
}

.App-header {
  background-color: rgb(190 190 190 / 20%) !important;

  /* background-image: url(../../Assets/background.jpg) !important; */
}
