.ant-card-body {
    padding: 24px;
    font-family: serif;
}

.ant-card-head-title {
    display: inline-block;
    -ms-flex: 1;
    flex: 1 1;
    font-family: auto;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ant-btn-block {
    width: 50%;
}